.productdetail {
  max-width: 1300px;
  margin: 16px auto;
  display: flex;
}
.productdetail__left {
  display: flex;
  flex: 0.8;
}
.left__image {
  margin: 8px;
  flex: 0.6px;
}
.left__info {
  margin: 18px;
  flex: 0.4;
  background: #f4f9f9;
  height: fit-content;
  font-size: 12px;
}
.left__name {
  font-weight: bold;
  font-size: 18px;
}
.left__info > p,
.right__info > p {
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.left__info > p :last-child,
.right__info > p:last-child {
  border: none;
}
.productdetail__right {
  flex: 0.2;
}
.right__info {
  width: 210px;
  margin: 18px;
  background: #f4f9f9;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
  font-size: 12px;
}
.right__info p {
  padding: 18px;
  font-size: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.right__info select {
  background: #171717;
  color: #f4f9f9;
  cursor: pointer;
  padding: 10px 16px;
}
.right__info > p > button {
  grid-column: 1/-1;
  width: 100%;
  padding: 10px 16px;
  background: #171717;
  color: #f4f4f4;
  border: 1px solid #171717;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 960px) {
  .productdetail {
    flex-direction: column;
  }

  .productdetail__left {
    flex-direction: column;
    flex: 1;
  }

  .left__image {
    flex: 1;
  }

  .left__info {
    flex: 1;
  }

  .productdetail__right {
    flex: 1;
    padding: 1rem;
  }

  .right__info {
    width: 100%;
    margin: 0;
  }
}
