.homepage > div {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0%;
}
.homepage_video {
  display: block;
  background-size: cover;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  height: 80vh;
  object-fit: fill;
  z-index: 1;
  position: absolute;
}

.homepage__products {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0%;
  padding-left: 20px;
  padding-right: 20px;
}
.homepage__products > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 50;
  list-style: none;
  padding: 20px 15px;
  cursor: pointer;
}
.homepage__products > div > li {
  display: flex;
  font-size: 25px;
  z-index: 50;
  font-weight: bold;
}
.homepage__products > div > a {
  color: white;
  display: flex;
  font-size: 18px;
  margin-bottom: 7px;
  text-decoration: none;
}
.homepage__products > div > a > span:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
